# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Environment — KHÔNG commit lên GitHub!
.env
*.env

# IDE
.idea/
.vscode/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Spring Boot
HELP.md
